.send-button {
  background-color: rgb(25, 135, 81);
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  margin-left: 15px;
  cursor: pointer;
  font-size: 15 px;
}
.input-bar {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}

.app-container {
  max-width: 600px;
  height: 100vh;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.chat-message-robot {
  display: flex;
  justify-content: start;
  align-items: start;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}
.message-content {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 12px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}

.chat-message-profile {
  width: 50px;
}

.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;

  overflow: scroll;
  scrollbar-width: none;
}
